#div1 {
    border-style: solid;
    width: 400px;
    text-indent: 50px;
}
#p1 {
    font-family: "Indie Flower";
    font-weight: bold;
    font-style: italic;
}
#div2 {
    border-style: groove;
    width: 500px;
    text-indent: 30px;
}
#p2 {
    font-family: "Pacifico";
    font-size: 24px;
    font-style: oblique;
    font-weight: 600;
    color: lightseagreen;
}
#div3 {
    border-style: dotted;
    width: 300px;
}

#p3 {
    font-family: "Permanent Marker";
    font-weight: 900;
    font-style: normal;
    font-size: 24px;
}